<h2 class="heroes__title">My Heroes</h2>
<ul class="heroes">
  <li class="hero__item" *ngFor="let hero of heroes">
    <a class="hero__link" routerLink="/detail/{{hero.id}}">
      <span class="hero__item__id badge">{{hero.id}}</span>
      <span class="hero__item__name">{{hero.name}}</span>
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">add</button>
</div>
