<h2 class="heroes__title">My Heroes</h2>
<ul class="heroes">
  <li class="hero__item" *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="hero__item__id badge">{{hero.id}}</span>
    <span class="hero__item__name">{{hero.name}}</span>
  </li>
</ul>
<div class="selected_hero" *ngIf="selectedHero">
  <h2 class="selected_hero__details">{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span><span class="selected_hero__id">{{selectedHero.id}}</span></div>
  <div>
    <label>name:
      <input class="selected_hero__name" [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>
